body{
    /* Height and width fallback for older browsers. */
    height: 100%;
    width: 100%;
    /* Set the height to match that of the viewport. */
    height: 100vh;
    /* Set the width to match that of the viewport. */
    width: 100vw;
    /* Remove any browser-default margins. */
    margin: 0;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 30px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

*{ min-height: 0px; min-width: 0px;}

.redSide {
    color: red;
}
.greenSide{
    color: teal;
}
.numDisplay {
    font-size: 25px;
    text-align: center;
    margin: 0;
}

.graph {
    font-size: 50px;}

.graph, input[type="button"]{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 2;
}

input[type="button"]{
    margin: 20px;
    font-size: 30px;
}
input[type="number"], select{
    grid-row: 1;
    margin: 5px;
}

input.greenSide {grid-column: 1}
select.greenSide {grid-column: 2}
input.redSide {grid-column: 3}
select.redSide {grid-column: 4}